<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas</title>
    <link rel="shortcut icon" href="/static/img/logo_ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/citaEstilo.css')}}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top bg-light" id="navegacion" style="border-radius: 0px;">
        <div class="container-fluid">
            <img data-bss-hover-animate="pulse" id="logo" src="{{url_for('static', filename='img/LOGO.png')}}" href="#">
            <div id="Titulo1"><a class="navbar-brand" href="javascript: history.go(-1)"><strong>
                Clínica la Asunción</strong>&nbsp;
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block contenido %} {% endblock %}
    </div>
    <div class="container">
        <button class="btn btn-secondary" style="background-color: #3699ff">
            <a href="javascript: history.go(-1)"style="color: white;">volver</a>
        </button>
    </div>
    <footer class="bg-white sticky-footer" id="footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Clínica la Asunción 2022</span></div>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/eliminarcita.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>