{% extends 'baseCitas.html' %} {% block contenido %}
<div class="card card-body">
    <form action="/update/{{ cita.0 }}" method="POST">
        <h6 id="obs">...En el caso del médico, la hora, la fecha y el área debe seleccionar alguna aunque no desse actualizarla...</h6>
        <br>
        <input class="form-control" type="text" name="identificacion" placeholder="Identificacion" value="{{ cita.1 }}">
        <br>
        <span>Actual : "{{ cita.2 }}"</span>
        <select name="medico" class="form-control h-auto form-control-solid py-4 px-8">
            <option  disabled selected>seleccione Medico</option>
            <option>medico 1</option>
            <option>medico 2</option>	
            <option>medico 3</option>									
        </select>
        <br>
        <span>Actual : [{{ cita.3 }}]</span>
        <input type="time" max="16:00:00" min="8:00:00" name="hora_cita" class="form-control">
        <br>
        <br>
        <span>Actual : [{{ cita.4 }}]</span>
        <input type="date" name="fecha" class="form-control">
        <br>
        <span>Actual : "{{ cita.5 }}" </span>
        <select name="area" class="form-control h-auto form-control-solid py-4 px-8">
            <option  disabled selected>Seleccione Area</option>
            <option>General</option>
            <option>Odontologia</option>	
            <option>Cardiologia</option>
            <option>Endoscopia</option>									
        </select>
        <br>
        <div id="actualizar">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}