<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Asignar_horario_medico1</title>
    <link rel="shortcut icon" href="/static/img/logo_ico.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">  
    <link rel="stylesheet" href="assets/css/styles.css">-->
</head>

<body>
    <h1>Asignar Horario a Medico</h1>
    <br>
    <form>
        <div class="container1">
            <table class="table1">
                <tr>
                    <td><label class="LabelIdM">Id Medico</label></td>
                    <td><input class="TextoIdM" type="text" autocomplete="off" autofocus="" placeholder="Id Medico" name="Id_medico" id="TextoIdMedico"></td>
                    <!-- style="width: 500px;"-->
                </tr>
                <tr>
                    <td></td>
                    <td><button class="boton1" type="button" style="color: var(--bs-white);font-weight: bold;width: 40;">Button</button></td>
                </tr>
            </table>
        </div>
    </form>
    <div class="container2">
        <table class="table2">
            <tr>
                <td><label class="LabelNombreM">Nombre del Medico</label></td>
                <td><input class="TextoNombreM" type="text" autocomplete="off" autofocus="" placeholder="Nombre Medico" name="Id_medico" id="TextoIdMedico"></td>
                <!-- style="width: 500px;"-->
            </tr>
            <tr>
                <td><label class="LabelApellidoM">Apellido del Medico</label></td>
                <td><input class="TextoApellidoM" type="text" autocomplete="off" autofocus="" placeholder="Apellido Medico" name="Id_medico" id="TextoIdMedico"></td>
                <!-- style="width: 500px;"-->
            </tr>
            <tr>
                <td><label class="LabelEspecilidadM">Especialidad del Medico</label></td>
                <td><input class="TextoEspecilidadM" type="text" autocomplete="off" autofocus="" placeholder="Especialidad Medico" name="Id_medico" id="TextoIdMedico"></td>
                <!-- style="width: 500px;"-->
            </tr>
        </table>
    </div>

</body>

</html>